@charset "utf-8";

html {
    font-family: open-sans,Helvetica,Arial,sans-serif;
    font-size: 62.5%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}